$primary-color: #725AC1;
$dark-color: #252525;
$light-color: #fff;

* {
    margin: 0;
    padding: 0;
}

html, body, .container {
    height: 99%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: $light-color;
    color: $dark-color;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.content {
    flex: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    margin-left: 4rem;
    margin-right: 4rem;
    height: 35rem;
    border-radius: 2rem;

    .title {
        color: $light-color;
        font-weight: bolder;
        font-size: 3.2rem;
        margin-bottom: 1rem;
    }

    .text {
        color: $light-color;
        font-size: 1rem;
        margin-bottom: 3rem;
    }
}

.form {
    margin-bottom: 2rem;

    input[type=text] {
        width: 100%;
        padding: 0.7rem 2rem;
        margin: 0.5rem 0;
        box-sizing: border-box;
        border: 0.1rem solid $primary-color;
        border-radius: 1rem;
    }
}

.img-container {
    flex: 2;
    display: flex;
    height: 100%;


    img {
        height: 100%;
        width: 20rem;
        margin: auto;
        object-fit: cover;
    }
}

.btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 1rem;
    border: solid 0.2rem $light-color;
    background: $light-color;
    color: $primary-color;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.link {
    color: $light-color;
}