$primary-color: #725AC1;
$dark-color: #252525;
$light-color: #fff;

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    background-image: url(/dist/img/imgonline-com-ua-ReplaceColor-Inv9jWXijRPCVUV.jpg);
    background-size: cover;
}
@media (max-width: 2000) {
    html { font-size: 30px; }
}
@media (max-width: 930px) {
    html { font-size: 15px; }
}
@media (max-width: 690) {
    html { font-size: 12px; }
}
@media (max-width: 430) {
    html { font-size: 10px; }
}
@media (max-width: 400px) {
    html { font-size: 8px; }
}


body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.container {
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.cal {
    width: 100%;
    background-color: $light-color;
    padding: 2rem;
    background-color: rgba(255,255,255,0.7);
    border-radius: 1rem;

    &:hover {
        background-color: rgba(255,255,255,0.9);
    }
}

.title-group {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    i {
        font-size: 0.7rem;
        font-weight: lighter;
    }
}

.title {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1rem;
    color: $primary-color;
}

.log-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.log-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-bottom: 0.01rem solid rgb(114, 90, 193, 0.4);
}

.log-date {
    font-size: 1rem;
    font-weight: bolder;
}

.log-exercise {
    line-height: 1.1rem;
    margin-bottom: 0.6rem;
}

.log-exercise-title {
    font-size: 0.8rem;
    font-weight: bold;
}

.log-entry {
    font-size: 0.8rem;
}

.log-add {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 1rem;
    border: none;
    background: $primary-color;
    color: $light-color;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.form {
    input[type=text] {
        width: 100%;
        padding: 0.6rem 1rem;
        margin: 0.1rem 0;
        box-sizing: border-box;
        border: 0.1rem solid $primary-color;
        border-radius: 1rem;
    }
}

.dropbtn {
    cursor: pointer;
    font-size: rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $light-color;
    min-width: 2.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1rem;
}

.dropdown-content a {
    color: $dark-color;
    padding: 0.2rem 1rem;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}